header img {
    display: flex;
    justify-content: center;
    width: 170px;
    margin: 20px auto 20px auto;
}

.search {
    display: flex ;
    flex-direction: column;
    align-items: center;

    &_formulaire {
        background-color: #eaeaea;
        padding: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    
    ol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
    li {
        padding: 20px;
        background-color: #eaeaea;
        border-radius: 20px;
        width: 70%;

        span {
            padding-left: 20px;
        }

    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_list {
        display: flex;
        flex-direction: column;
        align-items:center ;
        gap: 20px;

        .restaurants_card {
            display: flex;
            flex-direction: column;
            width: 70%;
            background-color: green;
            border-radius: 15px;

            

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
            }

        }

    }
    
}