header .top {
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    width: 100%;
    margin: 20px 0px;

    img {
        padding: 0px 50px; /*Mettre image au milieude la page*/
        height: 40px;
    }

}

header .image img{
    width: 100%;
    height: 300px;
    object-fit: cover;    

}

.list {
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*width: 100%; */
   /* margin-top: -40px; */
   
    background-color: #f6f6f6;
    margin-top: -40px;
    padding-bottom: 30px;
    
    

    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color: #f6f6f6;
        position: relative; /*Mettre le texte au dessus de la photo*/
        margin-bottom: 30px;
        h1, i {
            margin: 20px 20px;
        }
    }

    &_menu {
        margin: 0px 20px;
    }

    .entrée {
        

        &_plat {
            display: flex;
            flex-direction: column;
            gap: 20px;
        
        
            a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            /*overflow: hidden; */
            /*gap: 20px; mettre des gap dans le display flex */
            gap: 10px;
            box-shadow: 5px 5px 10px #e7e7e7;
            }

            &_body {
                width: 55%;
                margin-left: 10px;
                h3, p {
                    margin: 10px 10px; 
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &_price {
                h3{
                    margin: 10px 0px 0px 10px;
                }
            }
        }
    
    }

    .plats {
            

        &_menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
        
        
            a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            /*overflow: hidden; */
            /*gap: 20px; mettre des gap dans le display flex */
            gap: 10px;
            box-shadow: 5px 5px 10px #e7e7e7;
            }

            &_body {
                width: 55%;
                margin-left: 10px;
                h3, p {
                    margin: 10px 10px; 
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

    }

    .desserts {
            

        &_menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        
        
            a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            /*overflow: hidden; */
            /*gap: 20px; mettre des gap dans le display flex */
            gap: 10px;
            box-shadow: 5px 5px 10px #e7e7e7;
            }

            &_body {
                width: 55%;
                margin-left: 10px;

                h3, p {
                  margin: 10px 10px; 
                  width: 95%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
            }

        }

    }

    button {
        
        align-items: center;
        margin: auto;
        width: 200px;
        
    }
}