header .top {
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    margin: 18px 10px;

    img {
        padding: 0px 50px; /*Mettre image au milieude la page*/
        height: 40px;
    }

}

header .image img{
    width: 100%;
    height: 300px;
    object-fit: cover;    

}

.list {  
    background-color: #f6f6f6;
    margin-top: -40px;
    padding-bottom: 30px;
    
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color: #f6f6f6;
        position: relative; /*Mettre le texte au dessus de la photo*/
        margin-bottom: 30px;
        h1, i {
            margin: 20px 20px;
        }
    }

    &_menu {

        margin: 0px 20px;

        h2 {  
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 3px;
            text-transform: uppercase;

        }
        .underline {
            background-color: $color_tertiary;
            width: 45px;
            height: 3px;
            margin-bottom: 5px;
        }
    }

    .entrée {
        margin-bottom: 38px;
        &_plat {
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 20px;
            a {
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 20px;
                gap: 10px;
                box-shadow: 5px 5px 10px #e7e7e7;
                &:hover  {
                    .entrée_plat_slide{
                        background-color: $color_tertiary;
                        border-radius: 0px 20px 20px 0px;
                        color: white;
                        animation: slide 0.8s both;
                    }
                    i{
                        transform: rotate(360deg);
                        transition: transform 1s ease;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    .entrée_plat_body {
                        animation: body 0.8s both;
                    }
                }

                .entrée_plat_body {
                    width: 55%;
                    margin-left: 10px;
                    h3, p {
                        margin: 10px 10px; 
                        width: 95%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
    
                .entrée_plat_price {
                    h3{
                        margin: 10px 0px 0px 10px;
                    }
                }
                .entrée_plat_slide {
                    display: grid;
                    color: transparent;
                    align-items: center;
                    height: 10vh;
                    }
                    

            }
        }
    
    }

    .plats {

        margin-bottom: 38px;
        &_menu {
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 20px;
        
        
            a {
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 20px;
                /*overflow: hidden; */
                /*gap: 20px; mettre des gap dans le display flex */
                gap: 10px;
                box-shadow: 5px 5px 10px #e7e7e7;

                &:hover  {
                    .plats_menu_slide{
                        background-color: $color_tertiary;
                        border-radius: 0px 20px 20px 0px;
                        color: white;
                        animation: slide 0.8s both;
                    }
                    i{
                        transform: rotate(360deg);
                        transition: transform 1s ease;
                        
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    .plats_menu_body {
                        animation: body 0.8s both;
                    }
                }

                .plats_menu_body {
                    width: 55%;
                    margin-left: 10px;
                    h3, p {
                        margin: 10px 10px; 
                        width: 95%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
    
                .plats_menu_price {
                    h3{
                        margin: 10px 0px 0px 10px;
                    }
                }
                .plats_menu_slide {
                    display: grid;
                    color: transparent;
                    align-items: center;
                    height: 10vh;
                     }
            }
        }
    }

    .desserts {

        margin-bottom: 38px;
            

        &_menu {
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 20px;
        
            a {
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 20px;
                /*overflow: hidden; */
                /*gap: 20px; mettre des gap dans le display flex */
                gap: 10px;
                box-shadow: 5px 5px 10px #e7e7e7;

                &:hover  {
                    .desserts_menu_slide{
                        background-color: $color_tertiary;
                        border-radius: 0px 20px 20px 0px;
                        color: white;
                        animation: slide 0.8s both;
                    }
                    i{
                        transform: rotate(360deg);
                        transition: transform 1s ease;
                        
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    .desserts_menu_body {
                        animation: body 0.8s both;
                    }
                }

                .desserts_menu_body {
                    width: 55%;
                    margin-left: 10px;
                    h3, p {
                        margin: 10px 10px; 
                        width: 95%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
    
                .desserts_menu_price {
                    h3{
                        margin: 10px 0px 0px 10px;
                    }
                }
                .desserts_menu_slide {
                    display: grid;
                    color: transparent;
                    align-items: center;
                    height: 10vh;
                    }
            }

        }

    }

    button {
        
        align-items: center;
        margin: auto;
        width: 200px;
        
    }
}
@keyframes body {
    0% {
        width: 55%;
    }
    100% {
        width: 40%;
    }
}

@keyframes slide{
    0% {
        width: 0vh;
    }
    100% {
        width: 9vh;
    }
}
                 /*Apparition petit a petit de la page*/


@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(20px);
        transform: translateY(20px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        transform: translateY(0);
        
    }
}

.one{
    animation: apparition 1s forwards;
    
}
.two {
    animation: apparition 2s forwards;
}
.three {
    animation: apparition 3s forwards;
}
.four {
    animation: apparition 4s forwards;

}
.five{
    animation: apparition 5s forwards;

}
.six{
    animation: apparition 6s forwards;

}
.seven{
    animation: apparition 7s forwards;
}
.eight{
    animation: apparition 8s forwards;
}
.nine{
    animation: apparition 9s forwards;
}
.ten {
    animation: apparition 10s forwards;
}

/*Version Desktop*/

@media screen and (min-width: 1295px) {

    .list_menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .entrée {
        width: 32%;
    }
    .plats {
        width: 32%;
    }
    .desserts {
        width: 32%;
    }

}
