button {
    
    display: flex;
    justify-content: center;
    border: none;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0 0 7px #7a7a7a;;
    cursor: pointer;
    
    span {
        color: white;
        
    }
}